<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <head>
        <title>Todo list</title>
    </head>

    <body>
        <h3>Add new todo list</h3>
        <form method="POST" action="/add-todo-list">
            <table>
                <tr>
                    <td><label>Name:</label></td>
                    <td>
                        <label>
                            <input type="text" name="name"/>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td><label>Description:</label></td>
                    <td>
                        <label>
                            <input type="text" name="description"/>
                        </label>
                    </td>
                </tr>
            </table>

            <input type="submit" value="add">
        </form>

        <h3>Todo:</h3>
        <ul>
            <th:block th:each="todoList : ${all_todos}">
                <li>
                    <table>
                        <tr>
                            <td th:text="${todoList.first.name}"></td>
                            <td th:text="${todoList.first.description}"></td>
                            <td>
                                <form method="POST" action="/delete-todo-list">
                                    <input type="hidden" name="id" th:value="${todoList.first.id}">
                                    <button type="submit">Remove todo list</button>
                                </form>
                            </td>
                        </tr>
                    </table>
                    <ul>
                        <th:block th:each="todo : ${todoList.second}">
                        <li>
                            <table>
                                <tr>
                                    <td th:text="${todo.name}"></td>
                                    <td th:text="${todo.description}"></td>
                                    <td th:text="${todo.status}"></td>
                                    <td>
                                        <form method="POST" action="/mark-todo-as-done">
                                            <input type="hidden" name="id" th:value="${todo.id}">
                                            <button type="submit">Mark as done</button>
                                        </form>
                                    </td>
                                </tr>
                            </table>
                        </li>
                        </th:block>
                    </ul>
                </li>

                <h4>Add new todo</h4>
                <form method="POST" action="/add-todo">
                    <table>
                        <tr>
                            <td><label>Name:</label></td>
                            <td>
                                <label>
                                    <input type="text" name="new_todo_name"/>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td><label>Description:</label></td>
                            <td>
                                <label>
                                    <input type="text" name="new_todo_description"/>
                                </label>
                            </td>
                        </tr>
                    </table>

                    <input type="hidden" name="new_todo_listId" th:value="${todoList.first.id}">

                    <input type="submit" value="add">
                </form>

                <br>
                <br>
                <br>
            </th:block>
        </ul>
    </body>
</html>
